@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
:root {
  --pantalla: #3A3939;
  --fondo: #d9d9d9;
  --boton: #838383;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  font-family: "Inter";
  background-color: #1E1E1E;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

section.calculator {
  width: 450px;
  height: 450px;
  padding: 20px;
  background-color: var(--fondo);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.calculator .pantalla {
  width: 100%;
  height: 150px;
  padding: 0 20px;
  background: var(--pantalla);
  border-radius: 10px;
  color: #fff;
  text-align: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  overflow: hidden;
}
section.calculator .botones {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
section.calculator .botones .numeros, section.calculator .botones .operaciones {
  width: 50%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}
section.calculator .botones .numeros .boton, section.calculator .botones .operaciones .boton {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  font-family: inherit;
  font-size: 1.5rem;
  background-color: var(--boton);
  color: #fff;
  cursor: pointer;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
section.calculator .botones .numeros .boton:hover, section.calculator .botones .operaciones .boton:hover {
  background: #373737;
}
section.calculator .botones .numeros {
  width: 60%;
}